.table {

	&__label {
		font-weight: 600;
		padding: px-to-rems(10) 0;
	}
	&__data {
		@extend .box;
		border-radius: px-to-rems(6);
	}

	&__row,
	&__header {
		align-items: center;
		display: flex;
		padding: px-to-rems(10);
		width: 100%;

	}

	&__row + &__row {
		border-top: 1px solid rgba($text-color, 0.1);
	}

	&__column {
		width: 25%;
	}

	.avatar,
	.username {
		display: inline-block;
		vertical-align: middle;
	}
}